/* -----------------------------------------------
TABLE OF CONTENTS 
--------------------------------------------------

00  VARIABLES
01  NORMALIZE/RESET
02  TYPOGRAPHY
03  ELEMENTS
    03.1  CONTENT-ELEMENTS
    03.2  GRID(S)
04  NAVIGATION
    04.1  MOBILE NAVIGATION

----------------------------------------------- */

/* -----------------------------------------------
00  VARIABLES
----------------------------------------------- */

:root {
  --color_rz-red: rgb(255, 20, 18);
  --color_rz-red_dim: rgba(255, 22, 18, 0.5);
}

/* -----------------------------------------------
01  NORMALIZE/RESET
----------------------------------------------- */

/* -----------------------------------------------
02  TYPOGRAPHY
----------------------------------------------- */

/* -----------------------------------------------
03  ELEMENTS
----------------------------------------------- */

/* ----------------------
03.1 CONTENT-ELEMENTS
---------------------- */

#content_mobile {
  min-height: 100vh;
  min-width: 100%;
}

section.bg--white {
  background: white;
}
section.bg--red {
  background: var(--color_rz-red);
}

.default-container.mobile {
  margin: 95px 0 0 0;
  padding: 0 12px 12px 12px;
}

.content-item {
  margin-bottom: 16px;
  overflow: hidden;
}
.content-item:last-child {
  margin-bottom: 0;
}

/* ----------------------
03.2 GRID(S)
---------------------- */

.grid-container {
  display: grid;
}

.grid-container.mobile {
  padding: 95px 12px 12px 12px;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
}

.grid-item.actor.mobile {
  min-width: 110px;
}

.grid-item.actor::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 0;
  padding-bottom: calc(100% * (17 / 10));
}
.grid-item.actor.mobile::before {
  padding-bottom: calc(100% * (16 / 10));
}

/* -----------------------------------------------
04  NAVIGATION
----------------------------------------------- */

/* ----------------------
04.1 MOBILE NAVIGATION
---------------------- */

#header_mob_wrapper {
  position: fixed;
  width: 100%;
  background: transparent;
}

#header_mob_content {
  padding: var(--m_header_mob);
}
#nav_links_mob {
  padding: var(--m_def-plus_mob);
}

#header_mob_content,
#nav_links_mob {
  background: white;
}
#header_mob_wrapper.red #header_mob_content,
#header_mob_wrapper.red #nav_links_mob {
  background: var(--color_rz-red);
}

#header_mob_wrapper.white #zigzag_mob_r,
#header_mob_wrapper.red #zigzag_mob_w {
  display: none;
}
#header_mob_wrapper.red #zigzag_mob_r,
#header_mob_wrapper.white #zigzag_mob_w {
  display: block;
}
