/* -----------------------------------------------
TABLE OF CONTENTS 
--------------------------------------------------

00  VARIABLES
01  NORMALIZE/RESET
02  TYPOGRAPHY
03  ELEMENTS
    03.1  CONTENT-ELEMENTS
    03.2  GRID(S)

----------------------------------------------- */

/* -----------------------------------------------
00  VARIABLES
----------------------------------------------- */

:root {
  --color_rz-red: rgb(255, 20, 18);
  --color_rz-red_dim: rgba(255, 22, 18, 0.5);
}

/* -----------------------------------------------
01  NORMALIZE/RESET
----------------------------------------------- */

/* -----------------------------------------------
02  TYPOGRAPHY
----------------------------------------------- */

/* -----------------------------------------------
03  ELEMENTS
----------------------------------------------- */

/* ----------------------
03.1 CONTENT-ELEMENTS
---------------------- */

#content_mobile {
  min-height: 100vh;
  min-width: 100%;

  background: var(--color_rz-red);
}

/* ----------------------
03.2 GRID(S)
---------------------- */

.grid-container {
  display: grid;
}

.grid-container.mobile {
  padding: 12px;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
}

.grid-item.actor.mobile {
  min-width: 110px;
}
